section.section.plan
	h2.title.title--white_mod.title--shadow_mod.plan__title
		p Генеральный план
		p коттеджного поселка
	.plan__img_wrap
		+picture({
			img: 'plan',
			class: 'plan__picture',
			img_class: 'plan__img',
		})
