- const title = 'А еще мы можем подобрать программу ипотечного кредитования, сделать расчет платежей и помочь заполнить заявку';

section.mortgage
	.mortgage__in
		h2.title.title--align_center.title--theme_white.mortgage__title.fadeEl= title
		+button_group({
			class: 'fadeEl',
			buttons: [
				{
					text: 'Ипотека',
				},
				{
					class: 'button--theme_outlined',
					text: 'о нас',
				},
			],
		})
