.title {
	font: 700 calc(.065 * 100vw + 2rem) / 114.6% $font_2;
	color: $black_color;
	text-transform: uppercase;
	letter-spacing: -.025em;

	&.title--size_h3 {
		font-size: calc(.02 * 100vw + 3.4rem);
		line-height: 1.2;
	}

	&.title--theme_white {
		color: white;
	}

	&.title--shadow {
		text-shadow: 0 0 4px $black_color;
	}

	&.title--align_center {
		text-align: center;
	}
}
