.title {
	font: 700 calc(.065 * 100vw + 2rem) / 1.15 $font_2;
	color: $black_color;
	text-transform: uppercase;
	letter-spacing: -.025em;

	&.title--size_1_mod {
		font-size: calc(.02 * 100vw + 3.4rem);
		line-height: 1.2;
	}

	&.title--white_mod {
		color: white;
	}

	&.title--shadow_mod {
		text-shadow: 0 0 4px $black_color;
	}

	&.title--center_mod {
		text-align: center;
	}
}
