@use "sass:color";

@mixin st_btn() {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;

	&:hover, &:focus {
		text-decoration: none;
	}

}

%button_theme_1 {
	@extend %transition_background;

	color: $white;

	background: $accent;

	@include st_btn();

	&:hover,
	&:focus {
		background: color.adjust($accent, $lightness: 5%);
	}

	&:active {
		background: color.adjust($accent, $lightness: -5%);
	}
}

%button_theme_2 {
	color: $white;

	border-color: $white;
	border-style: solid;

	transition: color .3s ease, background .3s ease;
	will-change: color, background;

	@include st_btn();

	&:hover,
	&:focus {
		color: $black;

		background: $white;
	}

	&:active {
		color: $accent;

		background: $white;
	}
}

%button_size_1,
%button_size_2 {
	min-width: 21rem;
	min-height: 5.8rem;

	font-size: 2rem;

	border-radius: 3rem;
}

%button_size_1 {
	line-height: 5.8rem;
}

%button_size_2 {
	line-height: calc(5.8rem - 2 * 2px);

	border-width: 2px;
}
