//------------------------------------------------------------features_top
.features_top__in {
	@extend %global_flex_block_row_wrap_flex-start;

	margin: 0 -4rem -4rem 0;
}

.features_top__column {
	padding: 0 4rem 4rem 0;

	@include bp($point_2, min) {
		width: 50%;
	}

	@include bp($point_3) {
		width: 100%;
	}
}

.features_top__description {
	font: calc(0.019 * 100vw + 1.2rem) / 1.16 $pt_sans;
	color: $black_color;

	@include bp($point_2, min) {
		max-width: 71.4rem;
	}

	@include bp($point_3) {
		max-width: none;
	}
}

//------------------------------------------------------------features_top###

//------------------------------------------------------------village_feature
.village_feature__in {
	@extend %global_flex_block_row_wrap_flex-start;

	.village_feature--left_img_mod & {
		margin: 0 -1rem -4rem 0;
	}

	.village_feature--right_img_mod & {
		margin: -4rem 0 0 -1rem;
	}
}

.village_feature__column {	
	@include bp($point_2, min) {
		width: 50%;
	}

	@include bp($point_3) {
		width: 100%;
	}
	
	.village_feature--left_img_mod & {
		padding: 0 1rem 4rem 0;
	}

	.village_feature--right_img_mod & {
		padding: 4rem 0 0 1rem;
	}

	&.village_feature__column--img_mod {
		@include bp($point_3) {
			order: 2;
		}
	}
}

.village_feature__img_wrap,
.village_feature__picture {
	width: 100%;
}

.village_feature__img_wrap {
	@include bp($point_2, min) {
		height: 52.6rem;
	}

	@include bp($point_5 - 1) {
		height: 40rem;
	}
}

.village_feature__picture {
	display: block;
	height: 100%;
}

.village_feature__img {
	@extend %cover_img;
}

.village_feature__text {
	@include bp($point_2, min) {
		margin: 0 auto;
		padding: 9rem 4rem;
		max-width: 52rem;
	}
}

.village_feature__title {
	margin-bottom: 2.6rem;
}

.village_feature__description {
	font: calc(0.004 * 100vw + 1.6rem) / 1.16 $pt_sans;
	color: $black_color;
}

//------------------------------------------------------------village_feature###

//------------------------------------------------------------features_info
.features_info__title {
	margin-bottom: 2.6rem;
}

.features_info__table {
	@extend %global_flex_block_row_wrap_flex-start;

	border-top: 1px solid #CDCDCD;

	@include bp($point_1 - 1) {
		padding-top: 4rem;
	}
}

.features_info__column {
	@include bp($point_1, min) {
		padding: 4rem 0 7.6rem;
		width: 50%;

		&:first-child {
			padding-right: 5.4rem;
			border-right: 1px solid #CDCDCD;
		}
	
		&:last-child {
			padding-left: 5.4rem;
		}
	}

	@include bp($point_1 - 1) {
		width: 100%;

		&:first-child {
			margin-bottom: 4.2rem;
		}
	}
}

.features_info__item {
	&:not(:last-child) {
		margin-bottom: 4.2rem;
	}
}

.features_info__item_in {
	@extend %global_flex_block_row_wrap_flex-start;

	margin: 0 -3rem -1rem 0;
}

.features_info__label,
.features_info__value {
	padding: 0 3rem 1rem 0;

	font: 2.4rem / 2.8rem $pt_sans;
	color: $black_color;
}

.features_info__label {
	margin-right: auto;

	@include bp($point_5 - 1) {
		width: 100%;
	}
}

//------------------------------------------------------------features_info###

//------------------------------------------------------------features
.features {
	@include bp($point_2, min) {
		padding: 8.4rem var(--gl-indent) 29.4rem;
	}

	@include bp($point_3) {
		padding: 8.4rem var(--gl-indent);
	}
}

.features__top {
	margin-bottom: 19rem;
}

.features__list {
	margin-bottom: 14.2rem;
}

.features__item {
	margin-bottom: 16rem;
}

//------------------------------------------------------------features###
