extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block content_block
	include ../blocks/_hero
	include ../blocks/_benefits
	include ../blocks/_plan
	include ../blocks/_showcase
