extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block content_block
	section.section.demo_mod
		p(style="font-family: 'PTSans'") PT Sans Regular
		p(style="font-family: 'PTSans'; font-weight: 700;") PT Sans Bold
		p(style="font-family: 'BebasNeuePro'; font-weight: 700;") Bebas Neue Pro Bold